body{
  background-color: pink;
}
.navbar{
  background-color: '#E52117';
  flex: 1;
}

.selected-video{
  top: 120px;
}

.search-bar {
  margin-right: 400px;
  margin-left: 100px;
  flex: 1;
  /* text-align: center; */
}

.search-bar input {
  width: 100%;
}

.video-list img {
  max-width: 80px;
  text-align: center;
}

.video-detail .detail {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 4px;
}

.list-group-item:hover {
  background-color: #eee;
}
